HELLO..WELCOME ADMIN.<br>
<div class = "navbar">
    NAV_BAR
    <br>
    <form action="/ad_login" method="GET" style="display: inline-block;">
        <input type="button" onclick="location.href='/ad_homepage';" value="HOME"/>
    </form>
    <form action="/requests" method="POST">
        <input type = "submit" value = "See cheout/checkin requests :"/>
    </form>
    <form action="/addremovebooks" method="POST">
        <input type = "submit" value = "Add/Remove Books"/>
    </form>
    <form action="/logout" method="GET" style="display: inline-block;">
        <input type="button" onclick="location.href='/logout';" value="Logout"/>
    </form>
</div>

<section id ="addremovebooks">
    ADD BOOKS :
    <form action="/addbooks" method="POST">
        <label>Name of book you'd like to add :<input type="text" name="title"></label><br>
        <label>Author of book you'd like to add :<input type="text" name="author"></label><br>
        <label>Amount of copies for the book : <input type="number" name="copies"></label><br>
        <label><input type="submit" value="Add Book"/></label>
    </form>
    
    REMOVE BOOKS :
    <form action="/removebooks" method="POST">
        <label>Name of book you'd like to remove :<input type="text" name="title"></label><br>
        <label><input type="submit" value="Remove Book"/></label>
    </form>

    UPDATE BOOK COPIES :
    <form action="/updatebooks" method="POST">
        <label>Name of book you'd like to update :<input type="text" name="title"></label><br>
        <label>Amount of copies for the book : <input type="number" name="copies"></label><br>
        <label><input type="submit" value="Remove Book"/></label>
    </form>
</section>

<br><br>
LIST OF ALL BOOKS :<br><br>
<table>
    <%
        booklist.forEach(function(item) {
    %>    
   <tr>
       <td>Title : <%=item.title%><br>Author : <%=item.author%><br>Amount of copies available : <%=item.numberofbooks%><br><br></td>
   </tr>
   <% }) %>
</table>
<br>



