HELLO..WELCOME ADMIN.<br><br>
<div class = "navbar">
    <table>
    <td><form action="/ad_homepage" method="GET" style="display: inline-block;">
        <input type="button" onclick="location.href='/ad_homepage';" value="HOME"/>
    </form></td>
    <td><form action="/requests" method="POST">
        <input type = "submit" value = "SEE REQUESTS.."/>
    </form></td>
    <td><form action="/addremovebooks" method="POST">
        <input type = "submit" value = "ADD/REMOVE  BOOKS"/>
    </form></td>
    <td><form action="/logout" method="GET" style="display: inline-block;">
        <input type="button" onclick="location.href='/logout';" value="LOGOUT"/>
    </form></td>
    </table>
</div>