<html>
    <head>
        <title>Lets see...</title>
    </head>
    <body>
        BOOKS ISSUED : 
        <table>
            <%
                bookissued.forEach(function(item) {
            %>    
           <tr>
               <td><%=item.title%></td>
           </tr>
           <% }) %>
        </table>
        <br><br>
        BOOKS PENDING :
        <table>
            <%
                bookpending.forEach(function(item) {
            %>    
           <tr>
               <td><%=item.title%></td>
           </tr>
           <% }) %>
        </table>
        <br><br>
        <!-- ACCESS BOOKS : 
        <form action="/searchbooks" method="POST">
            <label>Name:<input type="text" name="bookname"></label>
            <label><input type="submit" value="search"/></label>
        </form> -->
        <br>
        OR
        <form action="/allbooks" method="POST">
            <input type = "submit" value = "BROWSE ALL BOOKS.."/>
        </form>
    </body>
</html>