<html>
    <head>
        <title>Lets see...</title>
    </head>
    <body>
        Hello..<%=username%><br>
    Welcome.
        <div class = "navbar">
            <table>
            <td><form action="/login" method="GET" style="display: inline-block;">
                <input type="button" onclick="location.href='/login';" value="HOME"/>
            </form></td>
            <td><form action="/allbooks" method="POST">
                <input type = "submit" value = "BROWSE ALL BOOKS.."/>
            </form></td>
            <td><form action="/logout" method="GET" style="display: inline-block;">
                <input type="button" onclick="location.href='/logout';" value="LOGOUT"/>
            </form></td>
            </table>
        </div>
        <br><br>
        Dear Ashish, ALL the books available are :
        <br><br>
        <table>
            <%
                booklist.forEach(function(item) {
            %>    
           <tr>
                <td>
                <form action="/issuebook" method="POST">
                Title : <%=item.title%> <br>
                Copies Remaining: <%=item.numberofbooks%><br>
                <input type="text" name="book_naam" value= '<%= item.title %>' style="display:none;">
                <input type="submit" value="Request To Issue Book">
                </form>
                </td>
           </tr>
           <% }) %>
        </table>
    </body>
</html>